.wrapper {
  margin: 60px 0;

  .item {
    top: -13px;
    left: calc(50% - 600px + 380px);
    width: 600px;
    height: 600px;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    border-radius: 3000px;
    position: absolute;
    box-sizing: border-box;
    display: table;
    
    @media screen and (max-width: 500px) {
      width: 145px;
      left: 95px;
      top: 146px;
      height: 145px;
    }

    &__element {
      border-radius: 3000px;
      background-position: center center;
      border-color: transparent;
      border-style: solid;

      &_orange {
        background-color: #e79823;
        box-shadow: 0 0 200px 130px rgba(231, 152, 35, 1);
      }
      &_purple {
        background-color: #d430ce;
        box-shadow: 0 0 200px 150px rgba(212,48,206,1);
      }
    }
  }
}